# Clean URLs / Pretty URLs rewrite rules (dinonaktifkan sementara)
# <IfModule mod_rewrite.c>
#   RewriteEngine On
#   RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(.*)index\.html\ HTTP/ [NC]
#   RewriteRule ^(.*)index\.html$ $1 [R=301,L]
#   RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.html\ HTTP/ [NC]
#   RewriteRule ^(.+?)\.html$ $1 [R=301,L]
#   RewriteCond %{REQUEST_FILENAME} !-d
#   RewriteCond %{REQUEST_FILENAME}.html -f
#   RewriteRule ^(.*?)/?$ $1.html [L]
# </IfModule>

<IfModule mod_mime.c>
  AddType application/manifest+json .webmanifest
  AddType image/webp .webp
</IfModule>
